#mainContainer{
    display: flex;
}

#container1{
    background-color: blueviolet;
}

#container2{
    display: flex;
    flex-direction: column;
    background-color: chartreuse;
}

.book{
    background-color: aquamarine;
    border-radius: 10%;
}