#mainContainer{
    display: flex;
    
}

#container1{
    background-color: blueviolet;
}

#container2{
    background-color: chartreuse;
}

.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    border-radius: 10%;
}

img{
    width: 100px;
    height: 100px;
}